{% extends 'base.html' %}
      
{% block title %} {{ title }} {% endblock %}
{% block content %}


<div class="inpage_nav">

    <a href="/view/eth_main">ETH</a>

    <a href="/view/bsc_main">BSC</a>

    <a href="/view/polygon_main">Polygon</a>

    <a href="/view/ftm_main">FTM</a>

    <a href="/view/avax_main">Avax</a>

    <a href="/view/heco_main">Heco</a>

    <a href="/view/hoo_main">Hoo</a>

</div>


<div class="">
    <h1>{{ title[5:].split('_')[0] }}</h1>
    <div class="table">
    <table>
        <tr class="tr">
            <th>In-time</th>
            <th>network</th>
            <th>type</th>
            <th>Transaction</th>
            <th>Address</th>
            <th>remark</th>
            <th>contract name</th>
            <th>worth(in USD for contract)</th>
        </tr>
        {% for log in data %}
        <tr>
            {% if addFilter in pubAddr(log.privKey) or addFilter in log.contAddress %}
                <td>{{ format_date(log.date_created) }}</td>
                <td>{{ log.network }}</td>
                <td>{{ log.type }}</td>
                <td><a href="{{ format_explorer_link(log.network) }}/tx/{{ log.tx }}" target="_blank">{{ log.tx[:20] }}...</a>
                    <i class="bi bi-clipboard" onclick="copynew('{{ log.tx }}')">&nbsp;
                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-clipboard" viewBox="0 0 16 16">
                            <path d="M4 1.5H3a2 2 0 0 0-2 2V14a2 2 0 0 0 2 2h10a2 2 0 0 0 2-2V3.5a2 2 0 0 0-2-2h-1v1h1a1 1 0 0 1 1 1V14a1 1 0 0 1-1 1H3a1 1 0 0 1-1-1V3.5a1 1 0 0 1 1-1h1v-1z"/>
                            <path d="M9.5 1a.5.5 0 0 1 .5.5v1a.5.5 0 0 1-.5.5h-3a.5.5 0 0 1-.5-.5v-1a.5.5 0 0 1 .5-.5h3zm-3-1A1.5 1.5 0 0 0 5 1.5v1A1.5 1.5 0 0 0 6.5 4h3A1.5 1.5 0 0 0 11 2.5v-1A1.5 1.5 0 0 0 9.5 0h-3z"/>
                        </svg>
                    </i>
                </td>
                <td><a href="{{ format_explorer_link(log.network) }}/address/{{  pubAddr(log.privKey)  }}" target="_blank">{{  pubAddr(log.privKey)[:20]  }}...</a>
                    <i class="bi bi-clipboard" onclick="copynew('{{ pubAddr(log.privKey) }}')">&nbsp;
                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-clipboard" viewBox="0 0 16 16">
                            <path d="M4 1.5H3a2 2 0 0 0-2 2V14a2 2 0 0 0 2 2h10a2 2 0 0 0 2-2V3.5a2 2 0 0 0-2-2h-1v1h1a1 1 0 0 1 1 1V14a1 1 0 0 1-1 1H3a1 1 0 0 1-1-1V3.5a1 1 0 0 1 1-1h1v-1z"/>
                            <path d="M9.5 1a.5.5 0 0 1 .5.5v1a.5.5 0 0 1-.5.5h-3a.5.5 0 0 1-.5-.5v-1a.5.5 0 0 1 .5-.5h3zm-3-1A1.5 1.5 0 0 0 5 1.5v1A1.5 1.5 0 0 0 6.5 4h3A1.5 1.5 0 0 0 11 2.5v-1A1.5 1.5 0 0 0 9.5 0h-3z"/>
                        </svg>
                    </i>
                </td>
                <td style="color: {{ format_error_color(log.status) }} ">{{ format_error_string(log.status) }}
                    {% if log.status != 'success' %}
                        <a href ="../../action/{{log.id}}" class="btn btn-secondary">withdraw</a>
                    {% endif %}
                </td>
                <td><a href="{{ format_explorer_link(log.network) }}/token/{{ log.contAddress }}" target="_blank">{{ log.contName }}</a>
                    <i class="bi bi-clipboard" onclick="copynew('{{ log.contAddress }}')">&nbsp;
                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-clipboard" viewBox="0 0 16 16">
                            <path d="M4 1.5H3a2 2 0 0 0-2 2V14a2 2 0 0 0 2 2h10a2 2 0 0 0 2-2V3.5a2 2 0 0 0-2-2h-1v1h1a1 1 0 0 1 1 1V14a1 1 0 0 1-1 1H3a1 1 0 0 1-1-1V3.5a1 1 0 0 1 1-1h1v-1z"/>
                            <path d="M9.5 1a.5.5 0 0 1 .5.5v1a.5.5 0 0 1-.5.5h-3a.5.5 0 0 1-.5-.5v-1a.5.5 0 0 1 .5-.5h3zm-3-1A1.5 1.5 0 0 0 5 1.5v1A1.5 1.5 0 0 0 6.5 4h3A1.5 1.5 0 0 0 11 2.5v-1A1.5 1.5 0 0 0 9.5 0h-3z"/>
                        </svg>
                    </i>
                </td>
                <td>{{ log.worth }}[{{ log.exchange }}]</td>
            {% endif %}
        </tr>
        {% endfor %}
    </table>
    </div>
</div>

{% endblock %}
