{% extends 'base.html' %}
      
{% block title %} {{ title }} {% endblock %}
{% block content %}
    {% for mesg in get_flashed_messages() %}
        <h3 style="color: red; text-align: center;">{{ mesg }}</h3>
    {% endfor %}
    <div class="container">
        <br>
        <p style="color: red;">{{ error }}</p>
        <form action="/login" method="POST">
            <input name="passcode" placeholder="Enter your passcode" type="password">
            <input value="Submit" type="submit" class="btn btn-secondary">
        </form>


    </div>



{% endblock %}
